body {
    margin: 0;
    overflow: hidden;
}
canvas {
    width: 100vw;
    height: 100vh;
}
/*window*/
.wn {
    position: fixed;
    width: min(500px, 100vw);
    top: 200px;
    left: calc(50vw - min(500px, 100vw) / 2);
    background-color: #fee;
    border: 1px solid #000;
}
.wnhead {
    background-color: #f5f5f5;
    padding: 5px 0;
}
.wnhead > * {
    display: inline;
}
.wnname {
    margin-left: 5px;
    font-weight: bold;
}
.wnclose {
    float: right;
    margin-right: 5px;
    cursor: pointer;
}
.info {
    margin: 5px;
}
.info > input {
    width: calc(100% - 60px);
}
.info > button {
    width: 50px;
}